@font-face {
  font-family: "RollGates Luxury";
  src: url("/fonts/Rollgates/Rollgates-Luxury.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gill sans nova";
  src: url("/fonts/GillSansNova/GillSansNova-Book.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "gill sans nova";
  src: url("/fonts/GillSansNova/GillSansNova-Medium.woff2");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "gill sans nova";
  src: url("/fonts/GillSansNova/GillSansNova-Light.woff2");
  font-style: light;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "gill sans nova";
  src: url("/fonts/GillSansNova/GillSansNova-SemiBold.woff2");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
